ion-card {
  backdrop-filter: blur(8px);
  background-color: #ffffff02;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

ion-card-header {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

ion-button {
  --background: #f73636;
  --background-hover: #f73636;
  --background-activated: #f73636;
  --background-focused: #f73636;
  --color: #eee;

  --border-color: #f73636;
  --border-style: solid;
  --border-width: 1px;
  
  --text-transform: capitalize;
  text-transform: capitalize;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  --padding-top: 16px;
  --padding-bottom: 16px;
}

ion-button.outline-fill {
  --background: transparent;
  --background-hover: transparent;
  --background-activated: transparent;
  --background-focused: transparent;
  --color: #f73636;

  --text-transform: capitalize;
  text-transform: capitalize;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  --padding-top: 16px;
  --padding-bottom: 16px;
}

ion-icon {
  --color: #f73636;
}

ion-router-link {
  --width: 100%;
}